@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital@1&family=Indie+Flower&display=swap');


* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
#root {
    font-family: Arial, Helvetica, sans-serif;
}
.allPostsContainer {
    padding-top: 15vh;
    font-family: Cuprum;
    color: navy;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    height: 100vh;
}
.allPostsContainer > .allposts {
    grid-column-start: 1;
}
.allPostsContainer > .allPostsAside {
    grid-column-start: 2;
    grid-row-end: 2;
    align-self: center;
    float: right;
}
.myPostsContainer{
    padding-top: 2vh;
    font-family: Cuprum;
    color: navy;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    margin-top: -95px;
    flex-direction: column;
}
.myPostsContainer > .allposts {
    grid-column-start: 1;
}
.myPostsContainer > .allPostsAside {
    grid-column-start: 2;
    grid-row-end: 2;
    align-self: center;
    float: right;
}
#title {
    width: 100%;
    background-color: rgb(107, 231, 231);
    text-decoration: inherit;   
    display: flex;
    flex-direction: row;
    height: 19vh;
    justify-content: space-between;
    padding: 4px;
    align-items: center;
    box-shadow: 1px 1px 15px rgb(150, 223, 252);
    position: fixed;
    z-index: 1;
}
.title {
    color: navy;
    text-decoration: underline;
    font-family: Indie Flower;
}
.navBtn {
    text-decoration: none;
    padding: 15px;
    display: inline-block;
    margin: 3px;
    place-self: center;
    font-size: 14px;
    background-color: rgb(241,239,243);
    border-radius: 10%;
    margin-right: 10px;
    width: 100px;
    text-align: center;
    font-weight: bold;
    color: navy;
    border: 3px solid navy;
    font-family: Indie Flower;
}
.navBtn:hover {
    background-color: #b9cdda;
    cursor: pointer;
}
.aside {
    word-break: break-word;
    text-align: center;
    font-family: Cuprum; 
    position: fixed;
}
.welcomMessage {
    padding-top: 40px;
    color:navy;
    text-align: center;
    height: 10vh;
    font-size: 40px;
    padding-top: 150px;
    font-family: Cuprum;
}
.profileBtn{
    text-decoration: none;
    padding-top: 40px;
    margin: 3px;
    display: inline-block;
    text-align: center;
    margin-right: 15px;
    margin-left: 15px;
    align-items: center;
    text-transform: uppercase;
    font-size: 14px;
    
}
a.profileLink {
    font-family: Cuprum;
    text-decoration: none; 
    color: teal;
}
a.profileLink:hover {
    color: navy;
    text-decoration: underline navy;
    font-size: 16px;
    cursor: pointer;
}
.profileMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20vh;
    box-shadow: 1px 1px 15px rgb(150, 223, 252);
}

.profileBodyHeader {
    height: 10vh;
    padding-top: 20px;
    margin-left: 5px;
    color: navy;
    font-family: Cuprum;
}

.allPostsHeader {
    margin-top: 10px;
    margin-bottom: 25px;
    height: 10vh;
    padding-top: 35px;
    margin-left: 5px;
    color: navy;
    position:fixed;
    font-family: Indie Flower;
    display: flex;
    background-color: white;
    width: 100%;
}
.searchBar{
    border-bottom: 2px solid navy;
    height: 30px;
    display: flex;
    justify-content: center;
    width: 25%;
}
.allposts{
    display: block;
    flex-wrap: wrap;
    height: 40vh;
    margin: 10px;
    margin-top: 75px;
    margin-bottom: -70px;
    border-radius: 10px;
    box-shadow: 1px 1px 15px rgb(150, 223, 252);
}

.messages > h3, .messages > p {
    padding-left: 10px;
    margin: 10px;
}

.allposts > h3, .allposts > p {
    padding-top: 10px;
    padding-left: 10px;
    margin: 10px;
    color: navy;
    font-family: Cuprum; 

}
.allposts.myPosts {
    padding-top: 8px;
}
.allposts.myPosts > h3 {
    font-weight: bold;
    font-size: 26px;
}
.postTitle{
    text-decoration: underline;
}
a.postsLink {
    padding-top: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: navy;   
}
a.postsLink:hover {
    color:rgb(107, 231, 231);
}
.postLi {
    padding-top: 10px;
    padding-left: 20px;
    list-style-type: none;
}
.messages {
    margin: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 15px rgb(150, 223, 252);
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
}
p{
    color: gray;
}
.description {
    color: navy;
    font-weight: bold;
}
.loginContainer {
    display: flex;
    padding-top: 150px;
    align-items: center;
    flex-direction: column;
}
.loginTitle {
    font-size: 70px;
    color: navy;
    font-family: Indie Flower;
    text-decoration: underline;
}
.loginForm {
    display: flex;
    flex-direction: column;
    border: 2px solid navy;
    padding: 10px;
    background-color: rgb(107, 231, 231);
}
.loginInput {
    border: 1px solid navy;
    height: 40px;
    padding-left: 85px;
}
.loginBtn {
    margin-top: 15px;
    padding: 5px;
    width: 75%;
    align-self: center;
    border-radius: 5%;
    background-color: navy;
    color: white;
    font-family: Indie Flower;
    font-size: larger;
}
#postBox {
    position: fixed;
}
.registerContainer {
    display: flex;
    padding-top: 150px;
    align-items: center;
    flex-direction: column;
}
.registerTitle {
    font-size: 60px;
    color: navy;
    font-family: Indie Flower;
    text-decoration: underline;
}
.registerForm {
    display: flex;
    flex-direction: column;
    border: 2px solid navy;
    padding: 10px;
    background-color: rgb(107, 231, 231);
}
.registerInput {
    border: 1px solid navy;
    height: 40px;
    padding-left:100px;
    margin-bottom: 15px;
}
.registerbtn {
    margin-top: -5px;
    padding: 15px;
    width: 75%;
    align-self: center;
    border-radius: 5%;
    background-color: navy;
    color: white;
    font-family: Indie Flower;
    font-size: larger;
}
.ipForm {
    position: absolute;
    margin-top: 90px;
    width: 100vw;
    overflow: scroll;
    height: 100vh;
}
.ipInteractiveBox {
    margin-top:105px;
}
.button {
    padding: 15px;
    width: 10%;
    align-self: center;
    border-radius: 5%;
    margin-left: 15px;
    margin-top: 10px;
    font-family: Indie Flower;
    font-size: larger;
}
.edit.button {
    background-color: navy;
    color: white;
}
.delete.button {
    border: 1px solid rgb(107, 231, 231);
}
.edit.button:hover, .sendMessageBtn:hover {
    background-color: rgb(107, 231, 231);
    border: 1px solid navy;
    color: black;
    cursor: pointer;
}
.delete.button:hover {
    border: 3px solid red;
    cursor: pointer;
}
.editFeild-inactive{
    display: none;
}
.editFeild-active{
    display: active;
}
.messageFeild-active {
    display: active;
}
.messageFeild-inactive {
    display: none;
}
.messageFeildHeader {
    text-align: center;
    color: navy;
    font-family: Cuprum;
}
.sendMessageFeild {
    margin-left: 15px;
    display: flex;
    align-items: baseline;
   
}
.sendMessageInput {
    border: 1px solid navy;
    height: 40px;
    width: 30%;
    border-radius: 5%;
    padding: 2px;
    text-align: center;
}
.sendMessageInput:hover {
    font-weight: bold;
}
.sendMessageBtn {
    border-radius: 5%;
    height: 40px;
    width: 20%;
    margin-left: 15px;
    font-family: Indie Flower;
    background-color: navy;
    color: white;
    font-size: larger;
}
.makePostsAside {
    display:flex;
    flex-direction: column;
    word-break: break-word;
    font-family: Cuprum; 
    position: fixed;
    float:right;
    margin-left: 55px;
}
.makePostTitle, .editPostTitle {
    font-size: 50px;
    color: navy;
    font-family: Indie Flower;
    text-decoration: underline;
}
.makePostForm, .editPostForm {
    display: flex;
    flex-direction: column;
    border: 2px solid navy;
    padding: 10px;
    background-color: rgb(107, 231, 231);
}
.makePostLabel, .editPostLabel {
    font-weight: bold;
    font-family: Indie Flower;
    font-size: larger;
}
.makePostInput, .editPostInput {
    border: 1px solid navy;
    height: 40px;
    padding-left: 85px;
    align-self: center;
}
.makePostContent {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}

.editPostContent {
    display: flex;
    justify-content: flex-start;
}
.makePostSubmit {
    margin-top: 15px;
    padding: 5px;
    width: 75%;
    align-self: center;
    border-radius: 5%;
    background-color: navy;
    color: white;
    font-family: Indie Flower;
    font-size: larger;
}
.editPostSubmit{
    margin-top: 15px;
    padding: 5px;
    width: 20%;
    align-self: center;
    border-radius: 5%;
    background-color: navy;
    color: white;
    font-family: Indie Flower;
    font-size: larger;
}
.makePostCheck, .editPostCheck {
    align-self: center;
}
.IPText > h3{
    margin-top: 40px;
    color:rgb(87, 85, 85);
}
.IPText > p{
    color:gray;
}