@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital@1&family=Indie+Flower&display=swap');


* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
    font-family: Arial, Helvetica, sans-serif;
}

.allPostsContainer {
    padding-top: 15vh;
    font-family: Cuprum;
    color: navy;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    height: 100vh;
    
}

.allPostsContainer > .allposts {
    grid-column-start: 1;
    overflow: scroll;
}

.allPostsContainer > .allPostsAside {
    grid-column-start: 2;
    grid-row-end: 2;
    align-self: center;
    float: right;

}

#title {
    width: 100%;
    background-color: rgb(107, 231, 231);
    text-decoration: inherit;   
    display: flex;
    flex-direction: row;
    height: 15vh;
    justify-content: space-between;
    padding: 4px;
    align-items: center;
    box-shadow: 1px 1px 15px rgb(150, 223, 252);
    position: fixed;
}

.title {
    color: navy;
    text-decoration: underline;
    font-family: Indie Flower;
}

.navBtn {
    text-decoration: none;
    padding: 15px;
    display: inline-block;
    margin: 3px;
    place-self: center;
    font-size: 14px;
    background-color: rgb(241,239,243);
    border-radius: 10%;
    margin-right: 10px;
    width: 100px;
    text-align: center;
    font-weight: bold;
    color: navy;
    border: 3px solid navy;
    font-family: Indie Flower;
}

.navBtn:hover {
    background-color: #b9cdda;
    cursor: pointer;
}

.aside {
    word-break: break-word;
    text-align: center;
    font-family: Cuprum; 
    position: fixed;
}

.welcomMessage {
    padding-top: 40px;
    color:navy;
    text-align: center;
    height: 10vh;
    font-size: 40px;
    padding-top: 150px;
    font-family: Cuprum;
}

.profileBtn{
    text-decoration: none;
    padding-top: 40px;
    margin: 3px;
    display: inline-block;
    text-align: center;
    margin-right: 15px;
    margin-left: 15px;
    align-items: center;
    text-transform: uppercase;
    font-size: 14px;
    
}

a.profileLink {
    font-family: Cuprum;
    text-decoration: none; 
    color: teal;
}

a.profileLink:hover {
    color: navy;
    text-decoration: underline navy;
    font-size: 16px;
    cursor: pointer;
}

.profileMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20vh;
    border-bottom: solid 1px black;
    box-shadow: 1px 1px 15px rgb(150, 223, 252);
}

.profileBodyHeader {
    height: 10vh;
    padding-top: 20px;
    margin-left: 5px;
    color: navy;
    font-family: Cuprum;
}

.allposts{
    display: block;
    flex-wrap: wrap;
    height: 40vh;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 15px rgb(150, 223, 252);
    align-items: flex-start;
}

.messages > h3, .messages > p {
    padding-top: 15px;
    padding-left: 10px;
    margin: 10px;
}

.allposts > h3, .allposts > p {
    padding-top: 10px;
    padding-left: 10px;
    margin: 10px;
}

.allposts.myPosts {
    padding-top: 8px;
}

.allposts.myPosts > h3 {
    font-weight: bold;
    font-size: 26px;
}

.postTitle{
    text-decoration: underline;
}

a.postsLink {
    padding-top: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: navy;   
}

a.postsLink:hover {
    color:rgb(107, 231, 231);
}

.postLi {
    padding-top: 10px;
    padding-left: 20px;
    list-style-type: none;
}

.messages {
    height: 20vh;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 15px rgb(150, 223, 252);
    align-items: flex-start;
}

p {
    color: gray;
}

.description {
    color: rgb(65, 62, 62);
    font-weight: bold;
}

.loginContainer{
    display: flex;
    padding-top: 150px;
    align-items: center;
    flex-direction: column;
}

.loginTitle{
    font-size: 70px;
    color: navy;
    font-family: Indie Flower;
    text-decoration: underline;
}

.loginForm{
    display: flex;
    flex-direction: column;
    border: 2px solid navy;
    padding: 10px;
    background-color: rgb(107, 231, 231);
}

.loginInput{
    border: 1px solid navy;
    height: 40px;
    padding-left: 85px;
}

.loginBtn{
    margin-top: 15px;
    padding: 5px;
    width: 75%;
    align-self: center;
    border-radius: 5%;
    background-color: navy;
    color: white;
    font-family: Indie Flower;
    font-size: larger;
}

#postBox {
    position: fixed;
}

.registerContainer{
    display: flex;
    padding-top: 150px;
    align-items: center;
    flex-direction: column;
}

.registerTitle{
    font-size: 60px;
    color: navy;
    font-family: Indie Flower;
    text-decoration: underline;
}
.registerForm{
    display: flex;
    flex-direction: column;
    border: 2px solid navy;
    padding: 10px;
    background-color: rgb(107, 231, 231);
}
.registerInput{
    border: 1px solid navy;
    height: 40px;
    padding-left:100px;
    margin-bottom: 15px;
}
.registerbtn{
    margin-top: -5px;
    padding: 15px;
    width: 75%;
    align-self: center;
    border-radius: 5%;
    background-color: navy;
    color: white;
    font-family: Indie Flower;
    font-size: larger;
}